<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Display various ionic components</h1>

<h3>Overlays</h3>
 <a [routerLink]="['/actionSheet']">Action Sheet</a>&nbsp;
 <a [routerLink]="['/alert']">Alert</a>&nbsp;
 <a [routerLink]="['/loading']">Loading</a>&nbsp;
 <a [routerLink]="['/modal']">Modal</a>&nbsp;
 <a [routerLink]="['/popover']">Popover</a>&nbsp;
 <a [routerLink]="['/toast']">Toast</a>

<h3>Inputs</h3>
<a [routerLink]="['/basic-inputs']">Basic</a>&nbsp;
<a [routerLink]="['/group-inputs']">Group</a>&nbsp;
<a [routerLink]="['/form-sample']">Form Sample</a>&nbsp;
<a [routerLink]="['/segment']">Segment</a>&nbsp;

<h3>Navigation</h3>
<ul>
  <li><a href="no-routing-nav">No Routing</a>  </li>
  <li><a href="simple-nav/page-one">Simple Nav</a>  </li>
  <li><a href="lazy-load-tabs">Lazy Loaded Route Tabs</a>   
  <ul>
    <li><a [routerLink]="['/lazy-load-tabs', 'tabs', { outlets: { tab1: ['mustang'] } }]">Tab 1</a>  </li>
    <li><a [routerLink]="['/lazy-load-tabs', 'tabs', { outlets: { tab2: ['camaro'] } }]">Tab 2</a>  </li>
    <li><a [routerLink]="['/lazy-load-tabs', 'tabs', { outlets: { tab3: ['charger'] } }]">Tab 3</a>  </li>
  </ul>
  </li>
  <li><a href="simple-tabs">Simple Route Tabs</a>
  <ul>
    <li><a [routerLink]="['/simple-tabs', 'tabs', { outlets: { tab1: ['mustang'] } }]">Tab 1</a>  </li>
    <li><a [routerLink]="['/simple-tabs', 'tabs', { outlets: { tab2: ['camaro'] } }]">Tab 2</a>  </li>
    <li><a [routerLink]="['/simple-tabs', 'tabs', { outlets: { tab3: ['charger'] } }]">Tab 3</a>  </li>
  </ul>
  </li>
  <li><a href="static-tabs">Static Tabs</a></li>
</ul>

<h3>Content</h3>
<ul>
  <li><a [routerLink]="['/badge']">Badge</a>  </li>
  <li><a [routerLink]="['/button']">Button</a>  </li>
  <li><a [routerLink]="['/card']">Card</a>  </li>
  <li><a [routerLink]="['/content']">Content</a>  </li>
  <li><a [routerLink]="['/ng-if']">ngIf</a>  </li>
  <li><a [routerLink]="['/show-hide-when']">Show/Hide When</a>  </li>
  <li><a [routerLink]="['/virtual-scroll']">Virtual Scroll</a>  </li>
</ul>

<ion-content>